.git
.github
node_modules
app
public
.next
.vercel
.env*
!.env.example

# Exclude development configs
tsconfig.json
postcss.config.mjs
tailwind.config.ts
next.config.mjs
*.lock
components.json

# Include dist
!dist